
@{
    ViewBag.Title = "ErrorProfile";
    Layout = "~/Views/Shared/_StoreLayoutPage.cshtml";
}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 12px;">
    <p>Please login after edit profile</p>
    <a href="@Url.Action("Login", "Customer")" style="color: white; font-weight:bold; background-color: #7fad39; height: 30px; width: 100px; border-radius: 3px; justify-content: center; align-items: center; display: flex;">LOGIN</a>
</div>

