<ul>
    <li><a href="@Url.Action("Index", "ShoppingCart")"><i class="fa fa-shopping-bag"></i> <span>@ViewBag.SumAmount</span></a></li>
</ul>
<div class="header__cart__price">item: <span>$@ViewBag.SubTotal</span></div>
